.filterWindow {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-mustard);
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 500;
  }
  
  .filterTitle {
    color: var(--color-black);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .filterOption {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .filterLabel{
    position: relative !important;
    display: block !important;
    margin-bottom: 0.5rem !important;
    color: var(--color-black) !important;
    font-weight: bold !important;
    width: auto !important;
    height: auto !important;
  }
  
  .select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 1rem;
  }
  
  .slider {
    width: 100%;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: var(--color-white);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-orange);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-orange);
    cursor: pointer;
  }
  
  .applyButton {
    background-color: var(--color-orange);
    color: var(--color-white);
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.1s;
  }
  
  .applyButton:hover {
    background-color: #ff7f00;
  }
  
  .applyButton:active {
    transform: scale(0.98);
  }

  .buttonContainer {
    display: flex;
    justify-content: space-around;
  }

button {
  background-color: transparent;
  border: none;
}

button img {
  width: 20px;
  height: 20px;
}

button:hover img {
  filter: invert(0.5);
  cursor: pointer;
}

button:active img {
  transform: scale(0.9);
}