.header {
    background-color: var(--color-mustard);
    color: var(--color-white);
    z-index: 1200;
  }

 
  .logoSearchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  
  
  
  
  @media (max-width: 768px) {
    .logoSearchContainer {
      flex-direction: column;
    }
  }