/* Style de base pour la page d'accueil */
.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Style pour le contenu principal */
.mainContent {
  flex-grow: 1;
  padding: 20px;
}

/* Conteneur pour le logo et la barre de recherche */
.logoSearchContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2% 2% 2% 15%;
  gap: 10%;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

/* Wrapper pour la barre de recherche */
.searchBarWrapper {
  position: relative;
}


/* Style de la bulle derrière la barre de recherche */
.searchBubble {
  position: absolute;
  top: -70px; /* Augmenté pour plus d'espace */
  left: -70px; /* Augmenté pour plus d'espace */
  right: -70px; /* Augmenté pour plus d'espace */
  bottom: -70px; /* Augmenté pour plus d'espace */
  background-color: white;
  border-radius: 80% 20% 90% 10% / 70% 80% 20% 30%; /* Forme plus irrégulière */
  z-index: -1;
  margin-left: 5%;
  margin-right: 5%;
  overflow:visible;
  animation: bubbleMove 10s infinite alternate;
  height:300%;
}

/* Styles communs pour les pseudo-éléments de la bulle */
.searchBubble::before,
.searchBubble::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}


.groupBubble{
  display:flex;
}


/* Styles spécifiques pour chaque bulle */
.bubble1 { width: 80%; height: 300%; top: -90%; left: 20%; animation-delay: 0s; }
.bubble3 { width: 120%; height: 180%; bottom: -40%; left: 40%; animation-delay: -10s; }
.bubble4 { width: 80%; height: 260%; top: 20%; right: -30%; animation-delay: -15s; }


/* Animation pour faire bouger la forme de la bulle de manière plus prononcée */
@keyframes bubbleMove {
  0% {
    border-radius: 80% 40% 90% 40% / 30% 80% 40% 30%;
  }
  50% {
    border-radius: 30% 70% 30% 90% / 80% 40% 90% 40%;
  }
  100% {
    border-radius: 90% 40% 60% 40% / 40% 70% 30% 50%;
  }
}

/* Styles pour les écrans mobiles */
@media (max-width: 768px) {
  /* Ajustement du conteneur logo/recherche pour les petits écrans */
  .logoSearchContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2% 2% 40% 2%;
    gap: 10%;
    justify-content: center;
  }

  /* Ajustement de la taille de la bulle pour les petits écrans */
  .searchBubble {
    top: -40px; /* Ajusté pour plus d'espace */
    left: -40px; /* Ajusté pour plus d'espace */
    right: -40px; /* Ajusté pour plus d'espace */
    bottom: -40px; /* Ajusté pour plus d'espace */
  }

  .bubble1 { width: 80%; top: -90%; left: 20%; animation-delay: 0s; }


 
}

@media (max-width: 380px) {
  /* Ajustement du conteneur logo/recherche pour les petits écrans */
  .logoSearchContainer {
    margin: 2% 2% 50% 2%;
  }
}