.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.contentWrapper {
  padding-top: 60px; /* Adjust this value based on the height of your navigation bar */
}

.mainContent {
  position: relative;
  flex-grow: 1;
  padding: 20px;
}

.logoSearchContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2% 2% 2% 15%;
  gap: 10%;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.searchBarWrapper {
  position: relative;
  padding-top: 5%;
}

.searchBubble {
  position: absolute;
  top: -70px;
  left: -70px;
  right: -70px;
  bottom: -70px;
  background-color: var(--color-green);
  border-radius: 80% 20% 90% 10% / 70% 80% 20% 30%;
  z-index: -4;
  margin-left: 5%;
  margin-right: 5%;
  animation: bubbleMove 10s infinite alternate;
  height: 300%;
}

.searchBubble::before,
.searchBubble::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.groupBubble {
  display: flex;
}

.bubble1 { width: 80%; height: 200%; top: -30%; left: 20%; animation-delay: 0s; z-index: -1; }
.bubble2 { width: 20%; height: 50%; top: -50%; left: 60%; animation-delay: -5s; background-color: var(--color-green); z-index: -1; }
.bubble3 { width: 120%; height: 180%; bottom: -40%; left: 40%; animation-delay: -10s; background-color: var(--color-orange); }
.bubble4 { width: 100%; height: 260%; top: -10%; left: -30%; animation-delay: -15s; background-color: var(--color-orange); }
.bubble5 { width: 50%; height: 150%; top: 10%; left: -5%; animation-delay: -20s; background-color: var(--color-green); z-index: -2; }
.bubble6 { width: 50%; height: 150%; top: 150%; left: -50%; animation-delay: -25s; background-color: var(--color-orange); z-index: -5; }
.bubble7 { width: 50%; height: 150%; top: -50%; left: 10%; animation-delay: -30s; background-color: var(--color-orange); }

@keyframes bubbleMove {
  0% {
    border-radius: 80% 40% 90% 40% / 30% 80% 40% 30%;
  }
  50% {
    border-radius: 30% 70% 30% 90% / 80% 40% 90% 40%;
  }
  100% {
    border-radius: 90% 40% 60% 40% / 40% 70% 30% 50%;
  }
}

@media (max-width: 768px) {
  .logoSearchContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2% 2% 40% 2%;
    gap: 10%;
    justify-content: center;
  }

  .searchBubble {
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
  }

  .bubble1 { width: 80%; top: -90%; left: 20%; animation-delay: 0s; }
}

@media (max-width: 380px) {
  .logoSearchContainer {
    margin: 2% 2% 50% 2%;
  }
}