.navigationBar {
  background-color: var(--color-orange);
  z-index: 1000;
  padding: 20px;
  transition: all 0.5s ease;
  width: 100%;
}

.sticky {
  position: fixed;
}

.mainMenu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}

.menuItem p {
  color: var(--color-white);
  font-family: var(--font-family-luciole-bold);
  text-decoration: none;
  font-weight: bold;
}

.menuItem:hover p {
  text-decoration: underline;
}

.submenu {
  font-family: var(--font-family-luciole);
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform-origin: top;
  background-color: var(--color-orange);
  padding: 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  width: 60vw;
  max-width: 1200px;
  max-height: 0;
  overflow: auto;
  transition: all 0.3s ease-out, max-height 0.5s ease-out;
  transform: translateX(-50%) scaleY(0);
}

.menuItem.active {
  margin: 0 50px;
}

.menuItem.active .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) scaleY(1);
  max-height: 90vh;
}

.submenuContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10%;
}

.formationsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.formationColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  flex: 0 0 auto;
}

.formation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category {
  flex: 0 0 calc(20.333% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.categoryHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.category h3 {
  margin: 0;
  color: var(--color-white);
  font-family: var(--font-family-transforma);
}

@media (max-width: 1024px) {
  .category {
    flex: 0 0 calc(30% - 20px);
  }
}

@media (max-width: 768px) {
  .mainMenu {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .menuItem {
    margin: 5px 0;
    width: 100%;
  }

  .menuItem.active {
    margin: 5px 0;
  }

  .submenu {
    position: static;
    transform: none;
    width: 100%;
    opacity: 1;
    visibility: visible;
    padding: 0;
    max-height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--color-orange);
    transform: translateY(-100%) scaleY(0);
    transition: transform 0.3s ease-out;
    z-index: 1001;
  }

  .menuItem.active .submenu {
    max-height: 1000px;
    padding: 20px 0;
    transform: translateX(0) scaleY(1);
    transition: transform 0.3s ease-out;
  }

  .category {
    flex: 0 0 100%;
    flex-direction: column;
  }
  
  .formationsContainer {
    flex-direction: column;
  }
}