.navigationBar {
  position: sticky;
  top: 0;
  background-color: var(--color-orange);
  z-index: 1000;
  padding: 20px;
  transition: all 0.5s ease;
}

.mainMenu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}

.menuItem p {
  color: var(--color-white);
  font-family: var(--font-family-luciole-bold);
  text-decoration: none;
  font-weight: bold;
}

.menuItem:hover p {
  text-decoration: underline;
}

.submenu {
  font-family: var(--font-family-luciole);
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform-origin: top;
  background-color: var(--color-orange);
  padding: 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  width: 60vw; /* Utilise presque toute la largeur de l'écran */
  max-width: 1200px; /* Limite la largeur maximale */
  max-height: 0;
  overflow: auto;

  transition: all 0.3s ease-out, max-height 0.5s ease-out;
  transform: translateX(-50%) scaleY(0);
  opacity: 0;
  visibility: hidden;
  max-height: 0;

}

.menuItem.active {
  margin: 0 50px;
}

.menuItem.active .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) scaleY(1);
  max-height: 90vh; /* Limite la hauteur maximale */


}

.submenuContent {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10%;
}




.formationsContainer {
  
  display: flex;
  flex-direction: row; /* Assurez-vous que c'est bien 'row' */
  justify-content: center;
  gap: 20px;
}

.formationColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  flex: 0 0 auto; /* Empêche les colonnes de s'étirer */
}

.formation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Ajustez ces styles selon vos besoins */
.category {
  flex: 0 0 calc(20.333% - 20px); /* Ajusté pour avoir 3 catégories par ligne */
  margin: 10px;
  display: flex;
  flex-direction: row; /* Changé en colonne pour un meilleur agencement */
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.categoryHeader {
  display: flex;
  flex-direction: column; /* Changé en ligne pour aligner l'icône et le titre */
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Assure que l'en-tête prend toute la largeur */
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.category h3 {
  margin: 0;
  color: var(--color-white);
  font-family: var(--font-family-transforma);
}



@media (max-width: 1024px) {
  .category {
    flex: 0 0 calc(30% - 20px);
  }
}

@media (max-width: 768px) {
  .mainMenu {
    flex-direction: column;
    align-items: center;
    height: auto; /* Supprimez la hauteur fixe */
  }

  .menuItem {
    margin: 5px 0;
    width: 100%; /* Assurez-vous que l'élément prend toute la largeur */
  }

  .menuItem.active {
    margin: 5px 0;
    
  }

  .submenu {
    position: static;
    transform: none;
    width: 100%;
    opacity: 1;
    visibility: visible;
    padding: 0;
    max-height: 0; /* Commencez avec une hauteur de 0 */
    overflow: auto; /* Cachez le contenu dépassant */
    -webkit-overflow-scrolling: touch;
    background-color: var(--color-orange);
    transform: translateY(-100%) scaleY(0);
    transition: transform 0.3s ease-out;
    z-index: 1001;

  }

  .menuItem.active .submenu {
    max-height: 1000px; /* Une valeur suffisamment grande pour contenir tout le contenu */
    padding: 20px 0;
    transform : translateX(0) scaleY(1);
    transition: transform 0.3s ease-out;


  }

  .category {
    flex: 0 0 100%;
    flex-direction: column;
  }
  
  .formationsContainer {
    flex-direction: column;
  }
}