.progressLoader {
    width: 100%;
    background: rgba(236, 236, 238, 0.253);
    height: 10px;
    border-radius: 7px;
    overflow: hidden;
    margin-top: 5px;
  }
  
  .progress {
    height: 10px;
    border-radius: 7px;
    transition: width 0.5s, background-color 0.5s;
  }
  
  .strength0 {
    width: 0%;
    background-color: transparent;
  }
  
  .strength1 {
    background-color: #ff4d4d; /* Rouge */
  }
  
  .strength2 {
    background-color: #ffa500; /* Orange */
  }
  
  .strength3, .strength4 {
    background-color: #4caf50; /* Vert */
  }